* {
    margin: 0;
    padding: 0;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: large;
    height: 60px ;
    background-color: crimson;
    color: whitesmoke;


}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: xx-large;
    height: 150px;
}

#footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 25px

}
 
footer {
    min-height: 250px;
    background-color: rgb(35, 48, 35);
    color: whitesmoke
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: rgb(35, 48, 35);
    color: white;
    font-size: 4rem;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: aliceblue;
    min-height: 20vh;
    justify-content: space-evenly ;
    padding: 50px;
}

#projects-title {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 60px;
}
.flex-container .project-tile {
    background-color: rgb(57, 58, 57);;;
    border-radius: 10px;
    box-shadow: 1px 10px 20px gray;
    width: 300px;
    height: 400;
    color: whitesmoke;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }



   .flex-container .project-tile > a {
      font-size: large;
      color: whitesmoke;
      text-decoration: none;
      font-style: unset;

      
  }


  .image {
      background: url("https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80");
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
